extends layout

block content
 
    .jumbotron
      .container
        h1 How May I help You? 
        p Assignment number 8
      .container
      .row
        .col-md-3
          h2 Paragraph 1
          p Some text
          a.btn.btn-default(href='#') View details
        .col-md-3
          h2 Paragraph 2
          p Some text
          a.btn.btn-default(href='#') View details
        .col-md-3
          h2 Paragraph 3
          p Some text
          a.btn.btn-default(href='#') View details
        .col-md-3
          h2 Paragraph 4
          p Some text
          a.btn.btn-default(href='#') View details
  
